<!DOCTYPE html>
<html lang="en">

<head>
   <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog!</title>
    <!-- Tailwind CSS -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css'
    />
    <!-- Connecting stylesheet for additional personalized css-->
    <link rel="stylesheet" type="text/css" href=".public/css/style.css"/>

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="text-3xl font-bold ">
        <a href="/">The Tech Blog!<span role="img" aria-label="writing">✍️</span></a>
      </h1>
      <nav class='bg-violet-900 text-white mx-auto px-2 sm:px-6 lg:px-8'>
        <div class='relative flex h-16 items-center justify-between'>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/">Home</a> 
        <a href="/dashboard">Dashboard</a> |
        <button class="border-dotted border-2 border-white" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        </div>
      </nav>
    </header>

    <main class="container mx-auto mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>